<div class="container">
  <div class="row">
    <div class="form-style-6">
    <h1><%= @service.name %></h1>
      <div style="text-align: center;">
      <%= image_tag @service.logo, class: "form-picture" %>
        <form>
            <%= form_tag(new_user_service_path, method: :get, remote: true) do %>
            <%= hidden_field_tag :service_id, @service.id %>
            <%= hidden_field_tag :provider_id, @service.budgea_id %>
            <%= hidden_field_tag :token %>
            <div class="input">
              <p>Email lié au service</p>
              <%= text_field_tag :login %></div>
            <div class="input">
              <p>Mot de passe lié au service</p>
              <%= password_field_tag :password %>
            </div>
            <%= submit_tag "Login", class: "btn btn-success", id: "send-credentials" %>
            <% end %>
        </form>
      </div>
    </div>
  </div>
</div>

