<div class="container">
  <div class="row">
    <% @services.each do |service| %>
      <div class="col-xs-6 col-xs-offset-3">
        <%= form_tag(new_user_service_path, method: :get, remote: true) do %>
        <%= hidden_field_tag :service_id, @service.id %>
        <%= hidden_field_tag :provider_id, @service.budgea_id %>
        <%= hidden_field_tag :token %>
        <%= text_field_tag :login %>
        <%= password_field_tag :password %>
        <%= submit_tag "New login", class: "btn btn-success", id: "send-credentials" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>



function submitCredentialsBudgea() {
  const submitCredentials = document.getElementById("send-credentials");

  submitCredentials.addEventListener('click', (event) => {

    const login = document.getElementById('login').value;
    const password = document.getElementById('password').value;
    const provider_id = parseInt(document.getElementById('provider_id').value, 10);
    const auth_token = sessionStorage.getItem("AuthToken");

    fetch("https://agora.biapi.pro/2.0/users/me/connections", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "Authorization": `Bearer ${auth_token}`
      },
      body: JSON.stringify({"id_provider": provider_id, "login": login, "password": password})
    })
    .then(response => response.json())
    .then((data) => {
      console.log(data);
      sessionStorage.Response = data;
    })
  });
}

submitCredentialsBudgea();
</script>

