<div class="container">
  <div class="row">
    <div class="form-style-6">
    <h1><%= @service.name %></h1>
      <div style="text-align: center;">
      <%= image_tag @service.logo, class: "form-picture" %>

      <div id="credentials-form">
        <!-- form built dynamically with JS based from response from BUDGET INSIGHT API (check budgea-hanshake js function) -->
      </div>


      <%= form_tag(new_user_service_path, method: :get, remote: true) do %>
        <%= hidden_field_tag :service_id, @service.id %>
        <%= hidden_field_tag :provider_id, @service.budgea_id %>
        <%= hidden_field_tag :token %>
        <%= submit_tag "Login", class: "btn btn-success hidden", id: "send-credentials" %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="loader-container">
  <h4 class="text-center", style="color: $primary; margin-bottom: 100px">Création du formulaire de connexion</h4>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div id="loader">
          <div id="box"></div>
        </div>
      </div>
    </div>
  </div>
</div>
