<div class="container">
  <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <%= form_tag(new_user_service_path, method: :get, remote: true) do %>
        <%= hidden_field_tag :service_id, @service.id %>
        <%= hidden_field_tag :provider_id, @service.budgea_id %>
        <%= hidden_field_tag :token %>
        <%= text_field_tag :login %>
        <%= password_field_tag :password %>
        <%= submit_tag "New login", class: "btn btn-success", id: "send-credentials" %>
        <% end %>
      </div>
  </div>
</div>
