<div class="container">
  <div class="row">
    <div class="form-style-6">
    <h1><%= @service.name %></h1>
      <div style="text-align: center;">
      <%= image_tag @service.logo, class: "form-picture" %>

      <div id="credentials-form">
<!--         <div class="input">
          <p>Login du service</p>
          <input type="text", id="login">
        </div>

        <div class="input">
          <p>Mot de passe du service</p>
          <input type="password", id="password">
        </div> -->
      </div>

      <%= form_tag(new_user_service_path, method: :get, remote: true) do %>
        <%= hidden_field_tag :service_id, @service.id %>
        <%= hidden_field_tag :provider_id, @service.budgea_id %>
        <%= hidden_field_tag :token %>
        <%= submit_tag "Login", class: "btn btn-success disabled", id: "send-credentials" %>
      <% end %>
      </div>
    </div>
  </div>
</div>

