<h4 class="text-center", style="color: $primary; margin-bottom: 100px">Connection à votre espace client en cours</h4>
<div class="loader-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div id="loader">
          <div id="box"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag(user_services_path, method: :post) do %>
<%= hidden_field_tag :error_message %>
<%= hidden_field_tag :access_token %>
<%= hidden_field_tag :id_user %>
<%= hidden_field_tag :id_connection %>
<%= hidden_field_tag :service_id %>
<% end %>
