<% if @error_message %>
  <%= @error_message %>
<% end %>
<div class="container">
  <div class="row">
    <% @services.each do |service| %>
      <div class="col-xs-4">
        <%= cl_image_tag(service.logo height: 100, width: 100) %>
        <div class="service-form">
          <%= form_tag(new_user_service_path, method: :get, remote: true) do %>
          <%= hidden_field_tag :service_id, service.id %>
          <%= submit_tag "Ajouter un compte #{service.name}", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if current_user.budgea_token %>
  <p id="budgea_token", class="hidden"><%= current_user.budgea_token %></p>
<% end %>
