<% content_for :navbar do %>
  <h4 class="text-center add-tags-title title-primary title-centered">Connectez vos espaces clients</h4>
<% end %>

<div class="modal-wrapper">
  <%= render 'modal-first-service-connection' %>
</div>

<div class="wrapper-ajout-service">


    <div class="results_section results_section_large">
      <% if !current_user.services.empty? %>
        <h2>Vos services connectés</h2>
        <div class="container width-100">
          <div class="row">
            <% @services_user.each do |service| %>
              <div class="col-xs-6 col-md-4">
                <div class="service-card">
                  <div>
                    <div class="service-form">
                      <%= cl_image_tag service.logo, class: "service-logo" %>
                    </div>
                    <%= link_to user_service_path(service.current_user_service(current_user)), method: :delete, :data => {:confirm => 'Are you sure?'}, class: "service-trash" do %>
                      <p>Déconnecter</p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% Tag.where(category: "macro_category").each do |macro_category| %>


        <div class="container width-100">
          <div class="row">

            <% if !(@services - @services_user).select{ |t| t.macro_category == macro_category.name}.empty? %>
              <div class="col-xs-12 service-category-header"><h2><%= macro_category.name_clean.capitalize %></h2></div>
            <% end %>

            <% (@services - @services_user).select{ |t| t.macro_category == macro_category.name && t.active }.each do |service| %>
              <div class="col-xs-6 col-md-4">
                <div class="service-card">
                  <div class="service-form service-not-connected">
                    <%= cl_image_tag service.logo, class: "service-logo" %>
                    <%= form_tag(new_user_service_path, method: :get, remote: true) do %>
                    <%= hidden_field_tag :service_id, service.id %>
                    <%= submit_tag '', class: "service-submit-tag" %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      <% end %>

    </div>



</div>



<% if current_user.budgea_token %>
  <p id="budgea_token", class="hidden"><%= current_user.budgea_token %></p>
<% end %>

