<div id="service_container">
  <%= render 'select_service_form' %>
</div>

<!-- Section for the dropzone to work on this page - it enables the 'add document' button in the navbar by allowing the JS to run -->
<div class="form-full-body hidden">
  <h2 class="text-center dropdocs-title" style="color:white;">Déposez vos fichiers où vous voulez !</h2>
  <%= simple_form_for @document, html: {id:"doc-dropzone", class: "dropzone", multipart: true }  do |f| %>
  <%= hidden_field_tag(:user_id, @user.id) %>
  <%= f.input :name, label: false,  as: :hidden %>
  <%= f.input :photo, label: false, as: :hidden %>
  <% end %>
</div>

<div class="loader-container hidden page-center front-element">
  <h3 class="text-center", style="color: white; margin-bottom: 100px">Ajout des documents en cours</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div id="loader">
          <div id="box" class="white"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="previews" class="hidden"></div>
