<div class="navbar-wrapper">
  <div class="navbar-wagon">
    <!-- Logo -->
    <% if user_signed_in? %>
      <%= link_to documents_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo.png", height: 30 %>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo.png", height: 30 %>
      <% end %>
    <% end %>
    <!-- yield content from the page -->
    <%= yield :navbar %>
    <!-- TABS to navigate in the app -->
    <div class="tabs">
      <%= link_to documents_path, class: 'tab' do %>
        <p>Documents</p>
      <% end %>
      <%= link_to new_user_service_path, class: 'tab' do %>
        <p>Services</p>
      <% end %>
      <div class="dropdown tab">
        <p class="dropdown-toggle" id="navbar-wagon-menu" data-toggle= "dropdown" aria-hidden="true">Profil</p>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

        <li>
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-user"></i> Editer mon profil
          <% end %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i> Se déconnecter
          <% end %>
        </li>

        </ul>
      </div>
      <!-- Information for the JS tab.js method to highlight the active tab -->
      <div class="hidden" id="tab">
        <%= params[:controller]%>
      </div>
    </div>
  </div>
</div>

