<div class="add-tags">
  <h3>Ajoutez des tags existants à l'ensemble de vos documents</h3>
  <div id="search_add_tag">
    <%= collection_select :search_tag, nil, @other_tags, :name, :name_clean, {prompt: true}, {class: "select2_new border-round"} %>
  </div>
  <div class ="new-other-tags" >
    <ul class="list-inline">
      <% @other_tags.each do |t| %>
        <i class="tag listenbatchtag hidden text-center" id =<%= t.name %>><%= t.name_clean %></i>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <%= form_tag batch_update_documents_path, method: :patch, class: "batch-update-form" do  %>
    <%= hidden_field_tag :tag_names, nil, class: "batch_tags" %>
    <%= submit_tag 'Sauvegarder', id:"btnsavedocs", class: "btn btnadd", disabled: true %>
  <% end  %>
</div>
