<div class="feed">
  <% @documents_unselected.each do |document| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <%= link_to document_path(document) do %>
        <div class= "master-card">
          <div class="card-image" style="background-image: url('<%= cl_image_path document.photo, format: :jpg, density: 300 %>');">
          </div>
      <% end %>
          <div class="card-description">
            <div>
              <h5 style="text-align: left" ><%= document.name %></h5>
              <p style="text-align: right" ><%=document.updated_at.strftime("%Y-%m") %></p>
            </div>
            <div>
              <%= link_to document_path(document, document: {selected: true}), method: :patch do %>
              <i style="text-align: right" id="selectionbox" class="fa fa-square-o" aria-hidden="true"></i>
            </div>
              <% end %>
          </div>
        </div>
    </div>
  <% end %>
</div>
