<div class="result-section">
  <div id="masonry-container" class="clearfix">
    <% @documents_unselected.each do |document| %>
      <div class= "box card" id="<%= document.id %>">
        <%= link_to document_path(document) do %>
          <%= cl_image_tag document.photo, class: "document-thumbnail-large card-image", "format" => 'jpg' %>
        <% end %>
        <div class="card-description">
          <div class="card-title">
            <% if document.name[27] %>
              <h5><%= document.name[0..26] %>...</h5>
            <% else %>
              <h5><%= document.name %></h5>
            <% end %>
          </div>
          <div class="card-info">
            <p><%=document.updated_at.strftime("%Y-%m") %></p>
            <%= link_to document_path(document, document: {selected: true}), method: :patch do %>
            <p id="button-<%= document.id %>" class="selectionbox hidden"></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

