<div id="masonry-container" class="clearfix masonry-style hidden">
  <div class="documents_new_wrapper">
    <%= render 'results_section_documents_new' %>
  </div>

  <% @documents_unselected.each do |document| %>
    <div class= "box card" style="@media (max-width: 600px) {.card { height: <%= document.ratio ? (100 * document.ratio) : 140 %>px}}; @media (min-width: 600px) {.card { height: <%= document.ratio ? (200 * document.ratio) : 280 %>px}};" id="<%= "#{document.id}@" + ' ' + document.tagsname.join(' ') %>">
      <%= link_to document_path(document) do %>
        <%= cl_image_tag document.photo, class: "document-thumbnail-large card-image", :width => "200px", :format => 'jpg', page: 1 %>
      <% end %>

      <%#= link_to document_path(document), remote: true do %>
      <div class="hover-card">
        <div class="card-description">
          <!-- Large screen -->
          <div class="card-title breakword hidden-xs">
            <% if document.prototype %>
              <h4 style="color: red">Specimen</h4>
            <% end %>
            <% if document.name[27] %>
              <h5><%= document.name[0..26] %>...</h5>
            <% else %>
              <h5><%= document.name %></h5>
            <% end %>
            <p><%=document.updated_at.strftime("%Y-%m") %></p>
          </div>

          <!-- Small screen -->
          <div class="card-title breakword visible-xs">
            <% if document.name[10] %>
              <h5><%= document.name[0..10] %>...</h5>
            <% else %>
              <h5><%= document.name %></h5>
            <% end %>
          </div>

          <div class="existing-tags hidden-xs">
            <% if !document.doctags.empty? %>
              <% document.doctags.each do |t| %>
                  <div class="text-center tag-small tag-white" id=<%= t.tag.name %>><%= t.tag.name_clean %></div>
              <% end %>
              <%= form_tag add_tags_documents_path, method: :get, remote:true do  %>
                <%= hidden_field_tag "document_ids[]", document.id %>
                <%= button_tag(type: "submit", class: "none") do %>
                  <i class="fa fa-plus fa-2x" aria-hidden="true" data-toggle="modal" data-target="#myModal_add_tags_to_documents"></i>
                <% end %>
              <% end  %>
            <% else %>
              <%= form_tag add_tags_documents_path, method: :get, remote:true, class: 'flex-around align-items-center' do  %>
                <%= hidden_field_tag "document_ids[]", document.id %>
                <%= button_tag(type: "submit", class: "none") do %>
                  <i class="fa fa-plus fa-3x" aria-hidden="true" data-toggle="modal" data-target="#myModal_add_tags_to_documents"></i>
                <% end %>
              <% end  %>
            <% end %>
          </div>
        </div>
        <%= form_tag document_path(document), method: :get, remote: true do  %>
        <%= hidden_field_tag "document_id", document.id %>
        <%= submit_tag '', id: 'submit_document_show', hidden: true %>
        <% end %>
      </div>
      <%# end %>


      <div class="card-info">
        <%= link_to document_path(document, document: {selected: true}), method: :patch do %>
        <p id="button-<%= document.id %>" class="selectionbox hidden" data-toggle="tooltip" data-placement="bottom" title="Epingler le document"></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<div class="loader-container-doc-load page-center">
  <h3 class="text-center", style="margin-bottom: 100px">Récupération des documents</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div id="loader">
          <div id="box"></div>
        </div>
      </div>
    </div>
  </div>
</div>


