<div class="feed">
  <% @documents_unselected.each do |document| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <%= link_to document_path(document) do %>
        <div class= "master-card">
          <div class="card-image" style="background-image: url('<%= cl_image_path document.photo, format: :jpg %>');">
          </div>
        <% end %>
          <div class="card-description">
            <div style="text-align: left;">
              <h5><%= document.name.split("/").last.capitalize %></h5>
              <p><%=document.updated_at.strftime("%Y-%m") %></p>
            </div>
            <div style="text-align: right;">
              <%= link_to document_path(document, document: {selected: true}), method: :patch do %>
              <i id="selectionbox" class="fa fa-square-o" aria-hidden="true"></i>
            </div>
          <% end %>
      </div>
    </div>
    <div class="text-center card-description">
      <h5><%= document.name%></h5>
      <p><%=document.updated_at.strftime("%Y-%m") %></p>
    </div>
  <% end %>
</div>
