<!-- <div class="result-section"> -->
<%# if @numnewdoc > 0  %>
  <!-- <p><%= @numnewdoc %> nouveaux documents depuis votre dernière connexion.</p> -->
<%# end %>
  <div id="masonry-container" class="clearfix masonry-style">
    <% if @documents_new %>
      <% @documents_new.each do |document| %>
        <div class= "box card" style="width: 200px; height: <%= document.ratio ? 200 * document.ratio : 280 %>px" id="<%= "#{document.id}@" + ' ' + document.tagsname.join(' ') %>">
          <%= link_to document_path(document) do %>
            <%# if document.updated_at > @lastconnexion %>
              <%#= cl_image_tag document.photo, class: " document-thumbnail-large card-image newdoc", "format" => 'jpg' %>
            <%# else %>
              <%= cl_image_tag document.photo, class: "document-thumbnail-large card-image", :width => "200px", :format => 'jpg' %>
            <%# end %>
          <% end %>

          <%= link_to document_path(document) do %>
          <div class="hover-card hover-card-new">
            <div class="card-description">
              <div class="card-title">
                <h4>Nouveau</h4>
                <% if document.name[27] %>
                  <h5><%= document.name[0..26] %>...</h5>
                <% else %>
                  <h5><%= document.name %></h5>
                <% end %>
                <p><%=document.updated_at.strftime("%Y-%m") %></p>
              </div>
            </div>
          </div>
          <% end %>
          <div class="card-info">
            <%= link_to document_path(document, document: {selected: true}), method: :patch do %>
            <p id="button-<%= document.id %>" class="selectionbox hidden"></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% @documents_unselected.each do |document| %>
      <div class= "box card" style="width: 200px; height: <%= document.ratio ? 200 * document.ratio : 280 %>px" id="<%= "#{document.id}@" + ' ' + document.tagsname.join(' ') %>">
        <%= link_to document_path(document) do %>
          <%# if document.updated_at > @lastconnexion %>
            <%#= cl_image_tag document.photo, class: " document-thumbnail-large card-image newdoc", "format" => 'jpg' %>
          <%# else %>
            <%= cl_image_tag document.photo, class: "document-thumbnail-large card-image", :width => "200px", :format => 'jpg' %>
          <%# end %>
        <% end %>

        <%= link_to document_path(document) do %>
        <div class="hover-card">
          <div class="card-description">
            <div class="card-title">
              <% if document.name[27] %>
                <h5><%= document.name[0..26] %>...</h5>
              <% else %>
                <h5><%= document.name %></h5>
              <% end %>
              <p><%=document.updated_at.strftime("%Y-%m") %></p>
            </div>

            <% if !document.doctags.empty? %>
              <div class="existing-tags">
                <% document.doctags.each do |t| %>
                    <div class="text-center tag-small" id=<%= t.tag.name %>><%= t.tag.name_clean %></div>
                <% end %>
              </div>
            <% end %>

          </div>

        </div>

        <% end %>
        <div class="card-info">
          <%= link_to document_path(document, document: {selected: true}), method: :patch do %>
          <p id="button-<%= document.id %>" class="selectionbox hidden"></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<!-- </div> -->


