<div class="search-bar">
  <%= form_tag(documents_path, method: :get) do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Essayez 'Banque'"
    %>
  <% end %>
</div>
<!-- affichage selected tags -->
<% if !@user_selected_tags.first.nil? %>
  <% @user_selected_tags.each do |tag| %>
      <a href="" class="tag listentag tag-s" id="<%=tag.name%>"><%= tag.name %></a>
  <% end %>
<% end %>
<!-- affichage the others tags -->
<% @user_tags.each do |tag| %>
   <a href="" class="tag listentag" id="<%=tag.name%>"><%= tag.name %></a>
<% end %>

<div class="searchtag">
  <%= form_tag documents_path, method: :get do %>
    <%= hidden_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for a tag"
    %>
  <% end %>
</div>



