<div class="container tag-container">
  <div class="row">
    <div class="col-xs-12">


        <!-- affichage selected tags -->
        <% @user_selected_tags.each do |tag| %>
            <a href="" class="tag listentag" id="<%=tag%>"><%= tag %></a>
        <% end %>
        <!-- affichage the others tags -->
        <% @user_tags.each do |tag| %>
           <a href="" class="tag listentag" id="<%=tag%>"><%= tag %></a>
        <% end %>


      </div>

        <div class="searchtag hidden">
          <%= form_tag documents_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search for a tag"

            %>
          <% end %>
        </div>

  </div>
</div>


