
<div class="tags-bar">
  <!-- affichage selected tags -->
  <% if !@user_selected_tags.first.nil? %>
    <% @user_selected_tags.each do |tag| %>
        <a href="" class="tag listentag tag-s" id="<%=tag.name%>"><%= tag.name_clean %></a>
    <% end %>
  <% end %>
  <!-- affichage the others tags -->
  <% if !@user_tags.nil? %>
    <% @user_tags.each do |tag| %>
       <a href="" class="tag listentag" id="<%=tag.name%>"><%= tag.name_clean %></a>
    <% end %>
  <% end %>

  <% if !@user_selected_tags.first.nil? %>
    <div class="clear-tags">
      <%= link_to documents_path do %>
        <i class="fa fa-times button" aria-hidden="true" style="margin: 10px"></i>
      <% end %>
    </div>
  <% end %>


  <div class="searchtag">
    <%= form_tag documents_path, method: :get do %>
      <%= hidden_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for a tag"
      %>
    <% end %>
  </div>
</div>




