<div class="selection-content">
  <ul class="list-unstyled selected-documents-content">
    <% @documents_selected.each do |doc| %>
      <%= link_to document_path(doc) do %>
        <li class="selected-document">
          <%= cl_image_tag doc.photo, class: "document-thumbnail", "format" => 'jpg' %>
          <div class="unselect">
            <%= link_to document_path(doc, document: {selected: false}), method: :patch do %>
              <i class="fa fa-times button" aria-hidden="true"></i>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="action-bar-selection">
  <ul class="list-inline">

    <%= link_to unselect_docs_documents_path do %>
      <i class="fa fa-times fa-2x action-style button" aria-hidden="true" ></i>
    <% end %>

    <%= link_to downloadzip_documents_path do %>
      <i class="fa fa-arrow-circle-o-down fa-2x action-style button" aria-hidden="true" ></i>
    <% end %>

   <!-- <i class="fa fa-trash-o fa-2x button" aria-hidden="true" ></i> -->
  </ul>
</div>

