<div class="title">
  <h4><%= @document.name %></h4>
</div>
<div class="current-tags">
  <% if @doctags.empty? %>
    <p>No tags selected yet</p>
  <% else %>
    <% @doctags.each do |t| %>
      <%= link_to document_doctag_path(@document, t), method: :delete do %>
      <p><%= t.tag.name %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="add-tags">
  <p class="text-center" style="font-weight: bolder">Ajouter des tags</p>
  <% @other_tags.each do |t| %>
    <%= link_to document_doctags_path(@document, tag: t), method: :post do %>
      <p><%= t.name %></p>
    <% end %>
  <% end %>
</div>
