<div class="title" style="color: white;">
  <%= simple_form_for(@document) do |f| %>
    <%= f.input :name, label: "Titre" %>
    <%= f.submit class:"hidden"%>
  <% end %>
</div>

<div class="current-tags">
  <% if @doctags.empty? %>
    <p style="color: white;">No tags selected yet</p>
  <% else %>
    <p style="font-weight: bolder; color: white;">Tags existants</p>
    <div class="existing-tags">
      <% @doctags.each do |t| %>
        <%= link_to document_doctag_path(@document, t), method: :delete do %>
        <div class="tag tag-s text-center"><%= t.tag.name_clean %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="add-tags">
  <p  style="font-weight: bolder; color: white;">Ajouter des tags</p>
  <ul class="list-inline other-tags">
    <% @other_tags.each do |t| %>
      <%= link_to document_doctags_path(@document, tag: t), method: :post do %>
        <i class="tag text-center"><%= t.name_clean %></i>
      <% end %>
    <% end %>
  </ul>
  <%= simple_form_for(@tag) do |f| %>
    <%= hidden_field_tag :document_id, @document.id %>
    <%= f.input :name, label: false, placeholder: "Créer un tag" %>
    <%= f.submit class:"hidden"%>
  <% end %>
</div>

