<!-- this part is in the navbar  -->
  <h3 class="text-center">Ajoutez des tags à vos documents</h3>

<div class="container">

  <% @documents.each do |d| %>
      <div class="row add-tag-row">

      <div class="col-xs-8 col-md-3">

        <div class="title">
          <%= simple_form_for(d) do |f| %>
            <%= f.input :name , label: false %>
            <%= f.submit class:"hidden" %>
          <% end %>
        </div>

        <div class= "card" style="width: 200px; height: <%= d.ratio ? 200 * d.ratio : 280 %>px">
            <%= cl_image_tag d.photo, class: "document-thumbnail-large card-image", :width => "200px", :format => 'jpg' %>
        </div>


        <div class="current-tags">
          <% if !d.doctags.empty? %>
            <div class="existing-tags">
              <% d.doctags.each do |t| %>
                <%= link_to document_doctag_path(d, t), method: :delete do %>
                <div class="tag tag-link tag-s text-center"><%= t.tag.name_clean %></div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>

      </div>

      <div class="col-xs-12 col-md-9">

        <div class="add-tags">
          <div class="flex">

            <div class="tags-container">
              <p>Catégorie</p>
              <div class="position-relative">
                <div class="fade-out-top fade-out-top-white"></div>
                <div class="other-tags">
                  <% (@tags.where(category: "macro_category") - d.tags.where(category: "macro_category")).each do |t| %>
                    <%= link_to document_doctags_path(d, tag: t), method: :post do %>
                      <div class="tag tag-link text-center"><%= t.name_clean %></div>
                    <% end %>
                  <% end %>
                </div>
                <div class="fade-out-bottom fade-out-bottom-white"></div>
              </div>
            </div>

            <div class="tags-container">
              <p>Type de document</p>
              <div class="position-relative">
                <div class="fade-out-top fade-out-top-white"></div>
                <div class="other-tags">
                  <% (@tags.where(category: "doc_type") - d.tags.where(category: "doc_type")).each do |t| %>
                    <%= link_to document_doctags_path(d, tag: t), method: :post do %>
                      <div class="tag tag-link text-center"><%= t.name_clean %></div>
                    <% end %>
                  <% end %>
                </div>
                <div class="fade-out-bottom fade-out-bottom-white"></div>
              </div>
            </div>

            <div class="tags-container">
              <p>Fournisseur</p>
              <div class="position-relative">
                <div class="fade-out-top fade-out-top-white"></div>
                <div class="other-tags">
                  <% (@tags.where(category: "supplier") - d.tags.where(category: "supplier")).each do |t| %>
                    <%= link_to document_doctags_path(d, tag: t), method: :post do %>
                      <div class="tag tag-link text-center"><%= t.name_clean %></div>
                    <% end %>
                  <% end %>
                </div>
                <div class="fade-out-bottom fade-out-bottom-white"></div>
              </div>
            </div>

          </div>

          <div class="create-tag-form">
            <%= simple_form_for(@tag) do |f| %>
              <%= hidden_field_tag :document_id, d.id %>
              <%= f.input :name, label: false, placeholder: "Créer un tag"%>
              <%= f.submit class:"hidden"%>
            <% end %>
          </div>

        </div>

      </div>

    </div>
  <% end %>

</div>

















<!-- <div class="col-xs-5 text-center"> -->
  <%#= render 'batch_tags_section' %>
<!-- </div> -->
