<div class="container">
  <div class="row">
    <% if @documents_selected.empty? %>
      <div class="col-xs-12">
        <div class="search_section">
          <%= render 'search_section' %>
        </div>
        <div class="results_section">
          <%= render 'results_section' %>
        </div>
      </div>
    <% else %>
      <div class="col-xs-10">
        <div class="search_section">
          <%= render 'search_section' %>
        </div>
        <div class="results_section">
          <%= render 'results_section' %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="selection_section">
          <%= render 'selection_section' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
