<% content_for :navbar do %>
   <!-- search form  -->
    <%= form_tag(documents_path, method: :get) do %>
      <div class="search-bar">
        <%= hidden_field_tag :query, @user_selected_tagnames%>
        <span class="fa fa-search"></span>
        <%= text_field_tag :search_tag, params[:search_tag], class: "border-round header-search-input", placeholder: "Essayez 'Banque'"%>
      </div>
    <% end %>
<% end %>

<div class="index-wrapper">
  <% if @documents_selected.empty? %>
    <div class="main-section-large">
      <% if @user_selected_tags.any? %>
        <div class="search_section">
          <%= render 'search_section' %>
        </div>
      <% end %>
      <div class="results_section">
        <%= render 'results_section' %>
      </div>
      <!-- link to add a new document -->
      <%= link_to new_document_path do %>
        <i class="fa fa-plus-circle addbutton corner" aria-hidden="true"></i>
      <% end %>
    </div>

  <% else %>

    <div class="main-section-medium">
      <% if @user_selected_tags.any? %>
        <div class="search_section">
          <%= render 'search_section' %>
        </div>
      <% end %>
      <div class="results_section">
        <%= render 'results_section' %>
      </div>
      <%= link_to new_document_path do %>
        <i class="fa fa-plus-circle addbutton corner" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="selection_section text-center">
      <%= render 'selection_section' %>
    </div>
      <!-- link to add a new document -->
  <% end %>

</div>




