<!-- this part is in the navbar  -->
<% content_for :navbar do %>
   <!-- search form  -->
    <%= form_tag(documents_path, method: :get, id:"submittag") do %>
      <div class="search-bar">
        <%= hidden_field_tag :query, @user_selected_tagnames%>
        <span class="fa fa-search"></span>
        <%= collection_select :search_tag, nil, @user_tags_alphabetic, :name, :name_clean, {include_blank: ''}, {id: "dropdowntag", class: "select2 border-round header-search-input"} %>
      </div>
    <% end %>

<% end %>


<div class="index-wrapper">
  <% if @documents_selected.empty? %>
    <div class="main-section-large">

      <div class="search_section">
        <%= render 'search_section' %>
      </div>

      <div class="results_section results_section_small">
        <%= render 'results_section' %>
      </div>

  <% else %>

    <div class="main-section-medium">

        <div class="search_section">
          <%= render 'search_section' %>
        </div>

        <div class="results_section results_section_small">
          <%= render 'results_section' %>
        </div>

    </div>

    <div class="selection_section text-center">
      <%= render 'selection_section' %>
    </div>
      <!-- link to add a new document -->
  <% end %>

</div>






