<div class="index-wrapper">



  <% if @documents_selected.empty? %>
    <div class="main-section-large">
      <div class="search_section">
        <%= render 'search_section' %>
      </div>
      <div class="results_section">
        <%= render 'results_section' %>
      </div>
    </div>
  <% else %>
    <div class="main-section-medium">
      <div class="search_section">
        <%= render 'search_section' %>
      </div>
      <div class="results_section">
        <%= render 'results_section' %>
      </div>
    </div>
    <div class="selection_section text-center">
      <%= render 'selection_section' %>
    </div>
  <% end %>

  <!-- link to create a add a new document -->
  <%= link_to new_document_path do %>
    <i class="fa fa-plus-circle addbutton corner" aria-hidden="true"></i>
  <% end %>
</div>




