<!-- this part is in the navbar  -->
<% content_for :navbar do %>
   <!-- search form  -->
  <div class="search-bar-wrapper">
    <%= render 'search_bar_index' %>
  </div>

  <div class="position-relative">
      <i class="fa fa-calendar ref filter-date-button" aria-hidden="true" id="datepicker-button" data-toggle="tooltip" data-placement="bottom" title="Filtrer par date"></i>
      <input class="my-datepicker cache"></input>
    </div>

  <div id="add-tags-to-documents" class=<%= 'hidden' if @documents_untagged.empty? %>>
    <%= form_tag add_tags_documents_path, method: :get, class: "batch-update-form" do  %>
      <% @documents_untagged.each do |document| %>
        <%= hidden_field_tag "document_ids[]", document.id %>
      <% end %>
      <%= submit_tag "Tagger vos documents sans tag", class:"button2 title-centered top-20"%>
    <% end  %>
  </div>

<% end %>


<div class="modal-wrapper">
  <%= render 'modal-first-connection-tips' %>
</div>


<div class="index-wrapper">
  <div class="main-section-large">

    <div class="search_section">
      <div class="fade-out-left fade-out-left-white"></div>
          <%= render 'search_section' %>
      <div class="fade-out-right fade-out-right-white"></div>
    </div>

    <% if @documents_selected.empty? %>

      <div class="result-section-wrapper">
        <div class="fade-out-top fade-out-top-grey"></div>
        <div class="results_section results_section_small">
          <%= render 'results_section' %>
        </div>
        <div class="fade-out-bottom fade-out-bottom-grey"></div>
      </div>

    <% else %>

      <div class="flex">

        <div class="main-section-medium">
          <div class="result-section-wrapper">
            <div class="fade-out-top fade-out-top-grey"></div>
            <div class="results_section results_section_small">
              <%= render 'results_section' %>
            </div>
            <div class="fade-out-bottom fade-out-bottom-grey"></div>
          </div>
        </div>

        <div class="selection_section text-center">
          <div class="selection-section-wrapper">
            <div class="fade-out-top fade-out-top-white"></div>
            <%= render 'selection_section' %>
            <div class="fade-out-bottom fade-out-bottom-white"></div>
          </div>
          <%= render 'action-bar-selection' %>
        </div>

      </div>

    <% end %>
  </div>

</div>

<div class="form-full-body hidden">
  <h2 class="text-center dropdocs-title" style="color:white;">Déposez vos fichiers où vous voulez !</h2>
  <%= simple_form_for @document, html: {id:"doc-dropzone", class: "dropzone", multipart: true }  do |f| %>
  <%= hidden_field_tag(:user_id, @user.id) %>
  <%= f.input :name, label: false,  as: :hidden %>
  <%= f.input :photo, label: false, as: :hidden %>
  <% end %>
</div>

<div class="loader-container hidden page-center front-element">
  <h3 class="text-center", style="color: white; margin-bottom: 100px">Ajout des documents en cours</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div id="loader">
          <div id="box" class="white"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="previews" class="hidden"></div>

<div class="hidden">
  <%= form_tag(load_new_elements_documents_path, id:"load_new_elements_form", remote: true) do  %>
    <%= submit_tag nil, id: "load_new_elements"%>
  <% end  %>
</div>

<div class="reload-masonry-grid">
</div>

