<!-- this part is in the navbar  -->
<% content_for :navbar do %>
   <!-- search form  -->
  <div class="search-bar-wrapper">
    <%= render 'search_bar_index' %>
  </div>

  <div>
    <%= form_tag add_tags_documents_path, method: :get, class: "batch-update-form" do  %>
      <%= submit_tag 'Taggez vos nouveaux documents', id:"btnsavedocs", class:"button2  hidden"%>
    <% end  %>
  </div>

<% end %>



<div class="index-wrapper">
  <% if @documents_selected.empty? %>
    <div class="main-section-large">

      <div class="search_section">
        <div class="fade-out-left fade-out-left-white"></div>
            <%= render 'search_section' %>
        <div class="fade-out-right fade-out-right-white"></div>
      </div>

      <div class="result-section-wrapper">
        <div class="fade-out-top fade-out-top-grey"></div>
        <div class="results_section results_section_small">
          <%= render 'results_section' %>
        </div>
        <div class="fade-out-bottom fade-out-bottom-grey"></div>
      </div>

  <% else %>

    <div class="main-section-large">

      <div class="search_section">
        <div class="fade-out-left fade-out-left-white"></div>
            <%= render 'search_section' %>
        <div class="fade-out-right fade-out-right-white"></div>
      </div>

      <div class="flex">

        <div class="main-section-medium">
          <div class="result-section-wrapper">
            <div class="fade-out-top fade-out-top-grey"></div>
            <div class="results_section results_section_small">
              <%= render 'results_section' %>
            </div>
            <div class="fade-out-bottom fade-out-bottom-grey"></div>
          </div>
        </div>

        <div class="selection_section text-center">
          <div class="selection-section-wrapper">
            <div class="fade-out-top fade-out-top-white"></div>
            <%= render 'selection_section' %>
            <div class="fade-out-bottom fade-out-bottom-white"></div>
          </div>
          <%= render 'action-bar-selection' %>
        </div>

      </div>

    </div>

      <!-- link to add a new document -->
  <% end %>

</div>

<div class="form-full-body hidden">

  <h2 class="text-center" style="color:white;">Déposez vos fichiers où vous voulez !</h2>
  <%= simple_form_for @document, html: {id:"doc-dropzone", class: "dropzone", multipart: true }  do |f| %>
  <%= hidden_field_tag(:user_id, @user.id) %>
  <%= f.input :name, label: false,  as: :hidden %>
  <%= f.input :photo, label: false, as: :hidden %>
  <% end %>
</div>

<div id="previews" class="hidden"></div>

<div class="hidden">
  <%= form_tag(load_new_elements_documents_path, id:"load_new_elements_form", remote: true) do  %>
    <%= submit_tag nil, id: "load_new_elements"%>
  <% end  %>
</div>

<div class="reload-masonry-grid">
</div>

