<!-- this part is in the navbar  -->
<% content_for :navbar do %>
<% end %>
<%= render 'search_section' %>
<!-- Actions tools displayed on the left of the screen to allow user to add new documents, get documents from its providers and send a doc by email -->
<%= render 'action-bar-results-section' %>
<!-- Main container including all the documents - in results_section partial -->
<div class="index-wrapper">
  <div class="main-section-large">
    <% if @documents_selected.empty? %>
      <div class="result-section-wrapper">
        <div class="results_section results_section_small">
          <%= render 'results_section' %>
        </div>
      </div>
    <% else %>
      <div class="flex">
        <div class="main-section-medium">
          <div class="result-section-wrapper">
            <div class="results_section results_section_small">
              <%= render 'results_section' %>
            </div>
          </div>
        </div>
        <div class="selection_section text-center">
          <div class="selection-section-wrapper">
            <div class="fade-out-top fade-out-top-white"></div>
            <%= render 'selection_section' %>
            <div class="fade-out-bottom fade-out-bottom-white"></div>
          </div>
          <%= render 'action-bar-selection' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Modal that is displayed at first connection to explain how the app works -->
<div class="modal-wrapper">
  <%= render 'modal-first-connection-tips' %>
</div>
<!-- Modal to SHOW documents - located at the bottom and outside the result section so that it pops-up at the top of the page -->
<div class="modal-wrapper">
  <div class="modal fade page-center" id="myModal_show_doc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-show" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>
<!-- Form when droping documents on the screen - appears only when a drag event is detected - see JS Dropzone.js -->
<div class="form-full-body hidden">
  <h2 class="text-center dropdocs-title" style="color:white;">Déposez vos fichiers où vous voulez !</h2>
  <%= simple_form_for @document, html: {id:"doc-dropzone", class: "dropzone", multipart: true }  do |f| %>
  <%= hidden_field_tag(:user_id, @user.id) %>
  <%= f.input :name, label: false,  as: :hidden %>
  <%= f.input :photo, label: false, as: :hidden %>
  <% end %>
</div>
<!-- Loader fired with JS on drop event - see Dropzone.js -->
<div class="loader-container hidden page-center front-element">
  <h3 class="text-center", style="color: white; margin-bottom: 100px">Ajout des documents en cours</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div id="loader">
          <div id="box" class="white"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hidden previews container for Dropzone so that the previews of the loaded docs don't appear on the screen -->
<div id="previews" class="hidden"></div>
<!-- Form that is automatically sent when a successfull dropzone event is detected - see Dropzone.js - it calls in the load_new_elements action in AJAX wich sends bask the new documents and clicks on the reload-maconry-grid below -->
<div class="hidden">
  <%= form_tag(load_new_elements_documents_path, id:"load_new_elements_form", remote: true) do  %>
    <%= submit_tag nil, id: "load_new_elements"%>
  <% end  %>
</div>
<!-- Element that is clicked by JS provided in response from load_new_elements and that fires a reload of the masonry grid to display the newly created documents -->
<div class="reload-masonry-grid">
</div>

