<div class="document-dowload">
  <div class="container">
    <div class="row">

      <div class="col-xs-7 text-center">
        <h2 class=" h2-form text-center">Drop your files here ! </h2>
        <div class="form-input">
          <%= simple_form_for @document, html: {id:"doc-dropzone", class: "dropzone", multipart: true }  do |f| %>
          <%= hidden_field_tag(:user_id, @user.id) %>
          <%= f.input :name, label: false,  as: :hidden %>
          <div class="docform">
            <%= f.input :photo, label: false, as: :hidden %>
          </div>
          <%= f.input :photo_cache, as: :hidden %>
            <%= f.submit 'Add this document', class: "hidden btn btn-primary btnadd" %>
          <% end %>
        </div>
      </div>

    <!-- selected a tag with search bar  -->
    <div class="col-xs-5 text-center">
      <%= form_tag(documents_path, method: :get, id:"submittag") do %>
        <div class="search-bar">
          <%= hidden_field_tag :query, @user_selected_tagnames%>
          <span class="fa fa-search"></span>
          <%= collection_select :search_tag, nil, @other_tags, :name, :name, {prompt: true}, {id: "dropdowntag", class: "select2 border-round header-search-input"} %>
        </div>
      <% end %>
    <!-- tags section -->
    <%= render 'batch_tags_section' %>
  </div>
</div>
</div>
</div>

