<div class="document-dowload">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
        <h2 class=" h2-form text-center">Déposez vos documents ici ! </h2>
        <div class="form-full-body">
          <%= simple_form_for @document, html: {id:"doc-dropzone", class: "dropzone", multipart: true }  do |f| %>
          <%= hidden_field_tag(:user_id, @user.id) %>
          <%= f.input :name, label: false,  as: :hidden %>
          <div class="docform">
            <%= f.input :photo, label: false, as: :hidden %>
          </div>
            <%= f.submit 'Add this document', class: "hidden btn btn-primary btnadd" %>
          <% end %>
        </div>
        <div class="flex-around">

          <div>
            <%= form_tag add_tags_documents_path, method: :get, class: "batch-update-form" do  %>
              <%= submit_tag 'Ajouter des tags', id:"btnsavedocs", class: "btnadd banner-button", disabled: true %>
            <% end  %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

