<div class="form" style="background-image: linear-gradient(-225deg, rgb(252,197,99) 60%, rgb(255, 255, 255) 50%)">


  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <h2 class="text-center" style="color:white;">Log in</h2>
        <div class="form-inputs" style="color:white;">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Log in" %>
        </div>

      <% end %>

          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
