<div class="modal fade" id="myModalAddByMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="fa fa-times close-modal-button action-style dismiss-modal" aria-hidden="true" data-dismiss="modal"></span>
        <h4 class="modal-title title-centered text-center" id="myModalLabel">Ajouter des documents par email</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="modal-subtitle text-center">
              Il vous suffit de transférer un mail contenant une pièce jointe depuis votre adresse mail <em><%= current_user.email %></em>, à l'adresse :<br> <u><a href="mailto:agora_doc@inbound.agora-app.tech"><em><strong>agora_doc@inbound.agora-app.tech</strong></em></a></u>
            </div>
          </div>
        <% if params[:controller] == "documents" %>
        <div class="col-xs-8 col-xs-offset-2 text-center hidden" id="add_by_email_user_preference">
          <%= simple_form_for @user_preference, remote: true do |f| %>
          <%= f.input :value, label: 'ne plus afficher'%>
          <%= f.input :setting, as: :hidden, input_html: {value: "tips_add_by_email"}%>
          <%= f.button :submit, id:'set_user_preference', class:"hidden"%>
          <% end %>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


